<header>
  <ul class="side-nav fixed">
    <li><a href="/" class="brand-logo collapsible-header active waves-effect waves-teal"><h3>Taskticket</h3></a></li>
    <li><a href="/" class="collapsible-header active waves-effect waves-teal">My Page</a></li>
    <li>
      <a href="/project" class="collapsible-header active waves-effect waves-teal">Project</a>
      <div class="collapsible-body" style="display: block;">
        <ul>
          <li *ngFor="let name of projectNameList"><a href="#">{{name}}</a></li>
          <li><a href="/project/add"><i class="material-icons">add</i></a></li>
        </ul>
      </div>
    </li>
    <li><a href="/" class="collapsible-header active waves-effect waves-teal">Logout</a></li>
  </ul>
  <nav class="light-blue lighten-3">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="page-title">Add Project</a>
      </div>
    </div>
  </nav>
</header>

<main role="main">
  <div class="container">
    <section id="project">
      <h2>Add Project</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="project_name" type="text" class="validate" placeholder="project name" [(ngModel)]="projectName" name="projectName">
              <label for="project_name">Project Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="project_detail" class="materialize-textarea" placeholder="project detail" [(ngModel)]="projectDetail" name="projectDetail"></textarea>
              <label for="project_detail">Project Detail</label>
            </div>
          </div>
          <a class="btn-floating btn-large waves-effect waves-light spinner-blue" (click)="addProject()"><i class="material-icons">add</i></a>
        </form>
      </div>
    </section>
  </div>
</main>
