<section id="signup-form">
  <h2 class="title is-2">Sign up</h2>
  <form>
    <div class="row">
      <div class="input-field col s12">
        <input [ngClass]="nameInputClasses" [(ngModel)]="name" name="name" type="text" id="name" placeholder="Email">
        <label for="name" [attr.data-error]="nameErrorMessage">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [ngClass]="emailInputClasses" [(ngModel)]="email" name="email" type="email" id="email" placeholder="Email">
        <label for="email" [attr.data-error]="emailErrorMessage">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [ngClass]="passwordInputClasses" [(ngModel)]="password" name="password" type="password" id="password" placeholder="Password">
        <label for="password" [attr.data-error]="passwordErrorMessage">Password</label>
      </div>
    </div>
    <div class="field">
      <p class="control">
        <button class="waves-effect waves-light btn" (click)="signup()">Signup</button>
      </p>
    </div>
  </form>
</section>
